.contacts {
    &__wrapper {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icons {
        display: flex;
        margin: 55px 0 0;
    }
    &__round {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 2px solid $brandColor;
        opacity: 1;
        @include animate(all);
        &:hover {
            opacity: 0.7;
            @include animate(all);
        }
    }
    &__facebook {
        color: $brandColor;
        &.icon-facebook {
            font-size: 16px;
            &:before {
                color: $brandColor;
            }
        }
    }
    &__instagram {
        &.icon-instagram {
            font-size: 16px;
            &:before {
                color: $brandColor;
            }
        }
    }
    &__youtube {
        &.icon-youtube {
            font-size: 16px;
            &:before {
                color: $brandColor;
            }
        }
    }
    &__adress {
        text-align: center;
        margin: 32px 0 24px;
    }
    &__map {
        //text-decoration-line: underline;
        .icon-map {
            margin-left: 8px;
        }
    }
    &__subtitle {
        margin-top: 0;
    }
    &__text {
        max-width: 864px;
        text-align: center;
        margin: 24px 0 0;
    }
    &__buttons {
        margin: 32px -40px 0 0;
        display: flex;
        flex-direction: row;
        @include respond-to('mobile') {
            margin-top: 12px;
            display: flex;
            flex-direction: column;
        }
        &-btn {
            font-size: 14px;
            &:nth-child(odd) {
                margin-right: 40px;
                @include respond-to('mobile') {
                    margin: 16px 0;
                }
            }
            &:nth-child(even) {
                margin-left: 40px;
                @include respond-to('mobile') {
                    margin: 16px 0;
                }
            }
        }
        p {
            margin: 0;
        }
    }
    &__popup {
        display: none;
        width: 42%;
        height: auto;
        padding: 120px 20px 80px;
        margin: 0;
        top: 50%;
        left: 50%;
        bottom: unset;
        right: unset;
        overflow: hidden;
        transform: translate(-50%, -50%);
        &.fancybox__content>.f-button.is-close-btn {
            top: 3%;
            right: 4.2%;
            color: $fontColor;
            background: transparent;
            border-radius: 0;
            @include respond-to('mobile') {
                height: 32px;
                width: 34px;
                justify-content: flex-end;
            }
        }
        @include respond-to('desktop') {
            width: 70%;
        }
        @include respond-to('tablet') {
            width: 90%;
        }
        @include respond-to('mobile') {
            padding: 20px 20px 10px;
            width: 100%;
        }
        &-img {
            position: absolute;
            bottom: 25%;
            right: -25%;
            z-index: 0;
        }
        &-img-bottom {
            position: absolute;
            left: -30%;
            bottom: 0%;
            z-index: 0;
        }
        &-components {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            @include respond-to('mobile-sm') {
                flex-direction: column;
            }
            p {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                @include respond-to('mobile-sm') {
                    display: block;
                }
            }
        }
        &-comment {
            p {
                font-size: 10px;
                text-align: center;
                margin: 10px 0;
            }
        }
        &-title {
            position: relative;
            z-index: 1;
            @include respond-to('mobile-sm') {
                margin-top: 24px;
            }
        }
        &-load {
            margin: 0 0 12px 32px;
            @include respond-to('mobile') {
                font-size: 14px;
            }
        }
        &-staple {
            font-size: 30px;
            margin: 0 0 12px 16px;
        }
        &-text {
            position: relative;
            max-width: 545px;
            text-align: center;
            margin: 32px auto;
            position: relative;
            z-index: 1;
            @include respond-to('mobile') {
                margin: 12px auto;
            }
        }
        &-btn {
            margin: 32px 0 0 0;
            font-size: 14px;
            display: flex;
            flex-direction: row;
            color: $brandColor;
            @include respond-to('mobile-sm') {
                width: 100%;
                margin: 0 auto 10px !important;
            }
        }
        &-load {
            display: flex;
        }
        &-staple {
            display: flex;
        }
        &_client {

        }
        &_partner {
            .contacts__popup {
                &-components {
                    align-items: center;
                    justify-content: center;
                    margin: 32px 0 0;
                    p {
                        margin: 0;
                    }
                    .text {
                        padding: 0 5px;
                        max-width: 250px;
                        line-height: 1em;
                        font-size: 12px;
                    }
                    .icon {
                        font-size: 30px;
                        padding: 0 5px;
                    }
                    .file {
                        p {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                &-btn {
                    margin: 0;
                }
            }
        }
        &-form {
            position: relative;
            z-index: 1;
            form {
                & > p {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                }
            }
        }
        &-file {
            position: relative;
            p {
                margin: 0;
            }
            &>p {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
            }
            input {
                width: 100%;
            }
        }
    }
}
