.portfolio {
    padding: 196px 0 90px;
    @include respond-to('tablet') {
        padding: 156px 0 40px;
    }
    @include respond-to('mobile') {
        padding: 100px 0 20px;
    }
    &-slider {
        margin: 50px 0;
        &__slide {
            display: block;
            height: auto;
        }
        &__wrapper {
            align-items: stretch;
        }
        &__img {
            object-fit: cover;
        }
    }
}
