.principles {
    z-index: 0;
    &__wrapper {
        padding: 80px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        @include respond-to('mobile') {
            padding: 30px 0;
        }
    }
    &__title {
        text-align: center;
        text-transform: capitalize;
        color: $brandColor;
    }
    &__subtitle {
        margin-top: 80px;
        text-align: center;
    }
    &__grid {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1064px;
        margin: 0 auto;
        @include respond-to("mobile") {
            width: 100%;
        }
    }
    &__item {
        text-align: left;
        margin-top: 24px;
        padding: 0 16px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond-to('mobile') {
            width: 100%;
        }
        &:first-child {
            width: 55%;
        }
    }
    &__round {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2.5px solid $brandColor;
        width: 64px;
        height: 64px;
        @include respond-to('mobile') {
            width: 36px;
            height: 36px;
        }
    }
    &__logo {
        display: flex;
        width: 32px;
        height: 28px;
        top: 50px;
        right: 50px;
        order: 1;
        margin: 32px 36px;
        @include respond-to('mobile') {
            width: 20px;
            height: 16px;
            margin: 16px 20px;
        }
    }
    &__descr {
        max-width: 854px;
        margin: 0;
    }
    &__text {
        margin-top: 16px;
        text-align: center;
    }
}
