.service {
    background: $lightblueColor;
    &__img {
        &-top {
            position: absolute;
            left: 0;
            top: -450px;
            z-index: 0;
            width: auto;
            height: auto;
            @include respond-to('mobile') {
                top: 0;
            }
        }
        &-middle {
            position: absolute;
            right: 0px;
            top: 22.33%;
            z-index: 0;
            width: auto;
            height: auto;
            @include respond-to('mobile') {
                top: -100%;
            }
        }
        &-bottom {
            position: absolute;
            bottom: -350px;
            left: -175px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            z-index: 0;
            width: auto;
            height: auto;
        }
    }
    .container {
        position: relative;
        z-index: 1;
    }
    &__wrapper {
        padding: 80px 0 353px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond-to('mobile') {
            padding: 80px 0 50px;
        }
    }
    &__descr {
        max-width: 1155px;
    }
    &__type {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1064px;
        margin: 0 auto;
        @include respond-to('mobile') {
            flex-direction: column;
        }
        &-item {
            padding: 0 16px;
            margin-top: 52px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include respond-to('mobile') {
                width: 100%;
            }
            &:first-child {
                width: 55%;
                @include respond-to('mobile') {
                    width: 100%;
                }
            }
        }
        &-round {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 2.5px solid $brandColor;
            width: 64px;
            height: 64px;
        }
        &-logo {
            display: flex;
            width: 32px;
            height: 28px;
            top: 50px;
            right: 50px;
        }
        &-title {
            color: $brandColor;
            margin-top: 8px;
        }
        &-text {
            margin-top: 16px;
            text-align: center;
        }
    }
    &__subtitle {
        margin-top: 64px;
        @include respond-to('mobile') {
            margin-top: 24px;
        }
    }
    &__text {
        max-width: 854px;
        margin-top: 8px;
    }
    &__technique {
        margin-top: 34px;
        &-title {
            cursor: pointer;
            display: flex;
            background-color: transparent;
            color: #444;
            padding: 18px;
            width: 100%;
            border: none;
            outline: none;
            transition: 0.4s all;
            text-align: center;
            align-items: center;
            justify-content: center;
            &:hover {
                background: none;
                color: $fontColor;
            }
            .arrow {
                margin: 0 0 4px 6px;
                width: 18px;
                height: 18px;
                border-radius: 4px;
                border-top: 4px solid $fontColor;
                border-right: 4px solid $fontColor;
                transform: rotate(135deg);
                transition: 0.4s all;
                @include respond-to('mobile') {
                    margin: 2px 0 0 6px;
                    width: 14px;
                    height: 14px;
                }
            }
            .title {
                display: inline-block;
                margin: 0 15px 0 0;
            }
        }
        &-list {
            text-align: center;
            margin: 24px 0 0;
            padding: 0;
        }
        ol,
        ul {
            text-align: left;
        }
    }
}
