.container {
    max-width: 1680px;
    margin: 0 auto;
    display: block;
    @include respond-to('desktop-m') {
        max-width: 1240px;
    }
    @include respond-to('laptop') {
        max-width: 980px;
    }
    @include respond-to('tablet') {
        max-width: 100%;
        padding: 0 32px;
    }
    @include respond-to('mobile') {
        padding: 0 24px;
    }
}
