p,
input,
textarea,
address,
blockquote,
blockquote p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    max-width: 100%;
    margin: 0 0 16px;
    font-family: $fontMontserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6em;
    color: $greyColor;
    &:last-child {
        margin-bottom: 0;
    }
    @include respond-to("tablet") {
        font-size: 14px;
    }
}

input,
textarea,
a,
button {
    outline: none;
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

input {
    width: 100%;
    line-height: 1em;
}

address {
    font-style: normal;
}

b,
i,
strong,
em,
a,
span,
input,
i,
mark {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;
    outline: none;
    &:hover,
    &:active,
    &:focus {
        outline: none;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.35em;
    font-family: $fontMontserrat;
    color: $fontColor;
    text-align: center;
    text-transform: capitalize;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    @include animate(all);
}
.h1,
h1 {
    font-family: $fontMontserrat;
    font-weight: 700;
    font-size: 44px;
    margin: 0;
    text-transform: uppercase;
    @include respond-to('desktop') {
        font-size: 42px;
    }
    @include respond-to('tablet') {
        font-size: 36px;
    }
}
.h2,
h2 {
    font-family: $fontMontserrat;
    font-weight: 700;
    font-size: 38px;
    @include respond-to('desktop') {
        font-size: 32px;
    }
    @include respond-to('tablet') {
        font-size: 24px;
    }
}

.h3,
h3 {
    font-family: $fontMontserrat;
    font-weight: 700;
    font-size: 34px;
    @include respond-to('desktop') {
        font-size: 28px;
    }
    @include respond-to('tablet') {
        font-size: 22px;
    }
}

.h4,
h4 {
    font-family: $fontMontserrat;
    font-weight: 800;
    font-size: 30px;
    @include respond-to('desktop') {
        font-size: 24px;
    }
    @include respond-to('tablet') {
        font-size: 18px;
    }
}

.h5,
h5 {
    font-family: $fontMontserrat;
    font-weight: 800;
    font-size: 28px;
    @include respond-to('desktop') {
        font-size: 20px;
    }
    @include respond-to('tablet') {
        font-size: 16px;
    }
}

%a {
    font-size: inherit;
    @include animate(all);
    text-decoration: none;
    color: $brandColor;
    position: relative;
    cursor: pointer;
    &:hover {
        color: $hoverlink;
    }
    &:hover,
    &:active,
    &:focus {
        @include animate(all);
        &:before {
            opacity: 1;
            @include animate(all);
        }
    }
}

a {
    @extend %a;
}

#wpadminbar a {
    &:before {
        display: none;
    }
}

b,
strong {
    font-family: $fontMontserrat;
    font-weight: 700;
}

em,
i {
    font-family: $fontMontserrat;
    font-style: italic;
    font-weight: 300;
}

mark {
    /*color: $fontColor;*/
    background-color: $secondary;
    padding: 5px;
}

blockquote,
q {
    font-weight: 200;
    color: $fontColor;
    font-style: normal;
    font-family: $fontMontserrat;
    display: block;
    p {
        &:before,
        &:after {
            content: '"';
        }
    }
}

cite,
figcaption {
    font-style: normal;
    font-size: 14px;
    &:before {
        content: '- ';
    }
}

ol, ul {
    color: $fontColor;
    font-weight: 400;
    list-style-type: none;
    padding: 0 0 0 20px;
    margin: 16px 0;
    li {
        margin: 0 0 16px;
    }
}
