/**
 *  Colors
 */

$black: #000;
$white: #fff;
$bg: #fff;
$linkColor: #6F89CE;
$hoverlink: #3F89CE;
$primary: #777777;
$secondary: #CCCBCB;


$brandColor: #143275;
$blueColor: #4178F2;
$fontColor: #343B4A;
$lightblueColor: #F6F7FA;
$greyColor: #727681;
$greenColor: #00824B;
$borderColor: #8A99BA;
$bgheaderColor: #03111A;
$dotColor: #D9D9D9;
$error: #FECF13;



$fontMontserrat: 'Montserrat', sans-serif;
