.contacts {
    &__wrapper {
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icons {
        display: flex;
        margin: 55px 0 0;
    }
    &__round {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 2px solid $brandColor;
    }
    &__facebook {
        color: $brandColor;
        &.icon-facebook {
            font-size: 16px;
            &:before {
                color: $brandColor;
            }
        }
    }
    &__instagram {
        &.icon-instagram {
            font-size: 16px;
            &:before {
                color: $brandColor;
            }
        }
    }
    &__youtube {
        &.icon-youtube {
            font-size: 16px;
            &:before {
                color: $brandColor;
            }
        }
    }
    &__adress {
        text-align: center;
        margin: 32px 0 24px;
    }
    &__map {
        text-decoration-line: underline;
        .icon-map {
            margin-left: 20px;
        }
    }
    &__subtitle {
        margin-top: 64px;
    }
    &__text {
        max-width: 864px;
        text-align: center;
        margin: 24px 0 0;
    }
    &__buttons {
        margin-top: 32px;
        display: flex;
        flex-direction: row;
        @include respond-to('mobile') {
            display: flex;
            flex-direction: column;
        }
        &-btn {
            font-size: 14px;
            &:nth-child(odd) {
                margin-right: 40px;
                @include respond-to('mobile') {
                    margin: 16px 0;
                }
            }
            &:nth-child(even) {
                margin-left: 40px;
                @include respond-to('mobile') {
                    margin: 16px 0;
                }
            }
        }
    }
    &__popup {
        display: none;
        width: 42%;
        height: auto;
        padding: 120px 0 80px;
        margin: 0;
        top: 50%;
        left: 50%;
        bottom: unset;
        right: unset;
        transform: translate(-50%, -50%);
        &.fancybox__content>.f-button.is-close-btn {
            top: 3%;
            right: 4.2%;
            color: $fontColor;
            background: transparent;
            border-radius: 0;
            @include respond-to('mobile') {
                height: 32px;
                width: 34px;
                justify-content: flex-end;
            }
        }
        @include respond-to('tablet') {
            width: 90%;
        }
        @include respond-to('mobile') {
            padding: 20px 0 10px;
            width: 100%;
        }
        &-components {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        &-title {
            @include respond-to('mobile-sm') {
                margin-top: 24px;
            }
        }
        &-load {
            margin: 0 0 12px 32px;
        }
        &-staple {
            font-size: 30px;
            margin: 0 0 12px 16px;
        }
        &-text {
            max-width: 545px;
            text-align: center;
            margin: 0 auto;
            margin-top: 32px;
            margin-bottom: 32px;
        }
        &-btn {
            margin: 32px 0 0 0;
            font-size: 14px;
            display: flex;
            flex-direction: row;
            color: $brandColor;
        }
        &-load {
            display: flex;
        }
        &-staple {
            display: flex;
        }
        &_client {

        }
        &_partner {

        }

    }
}
