.footer {
    background: #F6F7FA;
    &__wrapper {
        padding: 28px 0;
        text-align: center;
    }
    &__text {
        color: $brandColor;
        font-size: 14px;
        @include respond-to("tablet") {
            font-size: 12px;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px;
        @include respond-to("tablet") {
            flex-wrap: wrap;
        }
        .content {
            width: 450px;
            text-align: left;
            @include respond-to("tablet") {
                width: 100%;
                text-align: center;
            }
        }
        .contacts__icons {
            margin: 0;
            @include respond-to("tablet") {
                margin: 20px 0 0;
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


